@import "../common/common.css";

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), var(--tile-width-px));
    grid-template-rows: repeat(var(--grid-height), var(--tile-height-px));
}

.grid-tile {
    position: relative;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.grid-tile:nth-child(even) {
    background-color: #cff3f3;
}

.grid-tile:hover {
    /* add inner border */
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 2px black;
}